@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 20%;
}

main {
  flex: 1 1;
}

footer {
  flex: 0 0 10%;
}


#sidebar nav a {
  padding: 10px 20px;
  border-radius: 5px;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

/* render bài đăng */
.item-post {
  /* display: flex;
  align-items: center; */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.item-post>div>a {
  color: #4b4848;
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;

}

.item-post>div>p {
  font-size: 0.8rem;

}

.item-post>div>a:hover {
  color: #1a73e8;
}

.item-post>img {
  transition: transform 0.3s ease;
}

.item-post>img:hover {
  transform: scale(1.01);
}


img.thumbnail-post {
  width: 100%;
  height: 50%;
  object-fit: cover;
  /* margin-right: 20px; */
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

td,
th {
  border: 1px solid #ddd;
}