@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 20%;
}

main {
  flex: 1 1;
}

footer {
  flex: 0 0 10%;
}


#sidebar nav a {
  padding: 10px 20px;
  border-radius: 5px;
}

#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active {
  background: #2b63fd;
  color: white;
}

#sidebar nav a.pending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

td,
th {
  border: 1px solid #ddd;
}